<footer class="black-bg">
    <div class="container">
        <div class="about">
            <h4>О НАС</h4>
            <div class="line1"></div>
            <p class="about-text">Компания <i>Stock room</i> занимается оптовой продажей стоковой одежды лучших
                современных
                брендов. Мы предоставляем широкий ассортимент для выбора: детская одежда, одежда для взрослых, детское
                белье, женское нижнее белье, обувь детская и взрослая. Наши менеджера помогут выбрать вам
                самые подходящие лоты, помогут советом и отправлять вам заказ в кротчайшие сроки.</p>
        </div>
        <div class="middle-column">
            <h4 class="mid-h4">СВЯЗАТЬСЯ С НАМИ</h4>
            <div class="line2"></div>
            <div class="phone phone1">
                <i class="uil uil-phone-volume"></i>
                <a href="tel:+380672525661" class="num-phone">+38 (067) 00-00-000</a>
            </div>
            <div class="phone">
                <i class="uil uil-phone-volume"></i>
                <a href="tel:+380732525661" class="num-phone">+38 (073) 00-00-000</a>
            </div>
            <div class="phone">
                <i class="uil uil-phone-volume"></i>
                <a href="tel:+380633510916" class="num-phone">+38 (063) 00-00-000</a>
            </div>
            <div class="phone">
                <i class="uil uil-envelope-alt"></i>
                <a href="mailto:stockroom.opt@gmail.com" class="num-phone">stockroom.opt@gmail.com</a>
            </div>

            <h4 class="timetable">ГРАФИК РАБОТЫ</h4>
            <div class="line2"></div>
            <div class="phone timetable">
                <i class="uil uil-clock-ten"></i>
                <p class="timetable-text"> Пн-Сб с 9:00 по 18:00 </p>
            </div>
            <div class="location">
                <i style=" font-size: 23px; margin-left: -3px;" class="uil uil-map-marker"></i>
                <p class="text-location">Lviv</p>
            </div>
        </div>


        <!-- <div class="forma">
            <h4>НАПИСАТЬ НАМ</h4> -->

        <!-- <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"> -->
        <!-- <form>

                <input class="forma-text" type="text" name="Fullname" placeholder="Ваше имя" size="34">
                <input class="forma-text" type="tel" name="Phone" placeholder="Ваш контактный номер телефона" size="34">
                <textarea class="forma-text messag" name="Comment" placeholder="Сообщение" cols="29"
                    rows="5"></textarea> -->
        <!-- <button class="bttn" type="submit" [disabled]="!FormData.valid">Отправить</button> -->
        <!-- <button class="bttn" type="submit">Отправить</button>

            </form>

        </div> -->

        <div class="third-section">
            <h4 class="title-h4">ДОСТАВКА И ОПЛАТА</h4>
            <div class="line3"></div>
            <div class="privan-bank">
                <img class="img-pb" src="../../../assets/ПриватБанк.png" alt="">
            </div>
            <div class="nova-poshta">
                <img class="img-np" src="../../../assets/NPoshta.png" alt="">
            </div>
        </div>

    </div>
</footer>