<header>
    <div class="top-info">
        <div class="social">
            <a href="https://www.youtube.com/channel/UCGqyKtZfdmuMVeRFZpPC0Fg" target="_blank" class="white-uil"><i
                    class="uil uil-youtube"></i></a>
            <a href="#"><i class="uil uil-facebook"></i></a>
            <a href="https://t.me/stockroom_opt" target="_blank"><i class="uil uil-telegram"></i></a>
            <a href="https://invite.viber.com/?g2=AQANP3JoW7DBG0py0lkonfH5Kw0%2B%2FlejoH3x5J99OtUfc63V2IOtV80KI%2FiIO32H"
                target="_blank"><img class="viber social" src="../../../assets/iconmonstr-viber-5.svg" alt=""></a>
        </div>
        <!-- <div class="location">
            <i class="uil uil-map-marker"></i>
            <p class="text-location">Lviv</p>
        </div> -->
        <div class="text">
            Одежда лучших европейских брендов оптом
        </div>


        <div class="phone-column">
            <div class="phone phone1">
                <a href="tel:+380672525661" class="num-phone">+38 (067) 00-00-000</a>
            </div>
            <div class="phone">
                <a href="tel:+380732525661" class="num-phone">+38 (063) 00-00-000</a>
            </div>
        </div>

    </div>

    <nav class="navbar">
        <!-- <nav>
            <ul>
                <li class="point"><a href="">
                        <div class="burger"></div>
                        <div class="border"></div>
                    </a>

                    <ul class="dropdown class_ul">
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/discount' ]" routerLinkActive="active">Акции</a>
                        </li>
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/female' ]" routerLinkActive="active">Женщины</a>
                        </li>
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/male' ]" routerLinkActive="active">Мужчины</a>
                        </li>
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/children' ]" routerLinkActive="active">Дети</a>
                        </li>
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/accessories' ]"
                                routerLinkActive="active">Аксессуары</a>
                        </li>
                        <li class="small-li">
                            <a class="nav-link" [routerLink]="[ '/menu/expected' ]"
                                routerLinkActive="active">Ожидается</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav> -->

        <section class="burger">

            <article>
                <div class="menu">
                    <input id="menu--toggle" type="checkbox" />
                    <!-- /#menu--toggle -->
                    <label class="menu--toggle__trigger" for="menu--toggle"></label>
                    <!-- /.menu--toggle__trigger -->
                    <label class="menu--toggle__burger" for="menu--toggle"></label>
                    <!-- /.menu--toggle__burger -->


                    <ul class="menu__body">
                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/discount' ]" routerLinkActive="active">Акции</a>
                        </li>

                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/female' ]" routerLinkActive="active">Женщины</a>
                        </li>

                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/male' ]" routerLinkActive="active">Мужчины</a>
                        </li>
                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/children' ]" routerLinkActive="active">Дети</a>
                        </li>
                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/accessories' ]" routerLinkActive="active">Аксессуары</a>
                        </li>
                        <li class="menu__body-element">
                            <a class="nav-link" [routerLink]="[ '/menu/expected' ]" routerLinkActive="active">Ожидается</a>
                        </li>

                    </ul>
                    
                </div>
            </article>

            <article>
                <div class="promotion">
                </div>
                <!-- /.promotion -->
            </article>

        </section>






        <a class="logo" [routerLink]="[ '/home' ]" routerLinkActive="active" style="
        margin-bottom: 19px;  margin-top: 18px;">Stock room</a>


        <ul class="navbar-nav ">
            <div class="middle">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/discount' ]" routerLinkActive="active">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/female' ]" routerLinkActive="active">Женщины</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/male' ]" routerLinkActive="active">Мужчины</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/children' ]" routerLinkActive="active">Дети</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/accessories' ]" routerLinkActive="active">Аксессуары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/menu/expected' ]" routerLinkActive="active">Ожидается</a>
                </li>
            </div>
            <div class="admimCart">
                <li class="nav-item box-cart basketPriceBox">
                    <a class="nav-link" [routerLink]="[ '/basket' ]" routerLinkActive="active"><i
                            class="uil uil-shopping-bag"></i></a>
                    <span class="basketPrice"> {{ totalPrice }} <span class="euro-sign">€</span></span>
                </li>
                <li class="nav-item admin-categ">
                    <!-- <a class="nav-link" [routerLink]="[ '/admin' ]" routerLinkActive="active">Админ</a> -->
                </li>
            </div>

        </ul>

    </nav>
    <div class="thin-line"></div>
</header>