<!-- <h1 class="text-menu">Женщини</h1>

<div class="container">
  <div class="row">


    <div class="card card-box col-3 pl-0 pr-0">
      <div class="productThumbnail productItemAnimate animated">
        <a class="productImage preview preloaded"
          [style.backgroundImage]="'url(https://alot.com.ua/imgs/cat1h.jpg)'"></a>
        <div class="productInfoWrapp prod">
          <div class="productDescription normall">
            <h4 class="text-h4">Тренч</h4>
            <div>
             <p class="text-p">Тренч белый котоновый</p> </div>
          </div>
          <div class="productOrder">
            <div class="productPrice">
              <span class="text-price mr-2">Цена (ед.):</span> <span class="price-num">100</span> <i>€</i>
            </div>
            <!-- <div class="productCountWrapper">
                    <span class="productCount lessProduct"></span>
                    <input type="text" maxlength="3" [value]="1">
                    <span class="productCount moreProduct"></span>
                  </div> -->
            <!-- <div class="button bttn add-to-cart-product mt-2">Заказать</div>
          </div>
        </div>
      </div> 
    </div>


  </div>
</div> --> -->